<!DOCTYPE html>
<html lang="en" ng-app="repoSearchApp">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Search</title>
  <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- <link rel="stylesheet" href="css/animations.css"> -->

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/materialize/bin/materialize.js"></script>
  <!-- <script src="bower_components/angular-animate/angular-animate.js"></script> -->
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/config.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/app.js"></script>
  <!-- <script src="js/animations.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="RepoSearchCtrl">
	<nav class="brown darken-4">
		<div class="nav-wrapper">
			<div class="row">
				<div class="nav-part col m2 s6">
					<a href="#!" class="nav-brand-logo">Github Repos</a>
				</div>
				<div class="nav-part nav-search col m6 s12" style="padding: 0;">
					<form class="nav-search-bar">
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="mdi-action-search"></i></label>
						</div>
					</form>
				</div>
				<div class="nav-part nav-categ col m4 s12">
					<span class="in">in</span>
					<a class="categ-button waves-effect waves-light" 
						ng-repeat="category in categories" 
						ng-class="category.selected ? 'btn' : 'btn transparent'"
						ng-click="category_select(category.selected, $index)">
						{{category.name}}
						</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">

	</div>
</body>
</html>
