<!DOCTYPE html>
<html lang="en" ng-app="repoSearchApp">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Search</title>
  <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- <link rel="stylesheet" href="css/animations.css"> -->

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
  <!-- <script src="bower_components/angular-animate/angular-animate.js"></script> -->
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/app.js"></script>
  <!-- <script src="js/animations.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="RepoSearchCtrl">
	<nav class="brown darken-4">
		<div class="nav-wrapper">
			<div class="row">
				<div class="nav-part col l2 m2 s4">
					<a href="#!" class="nav-brand-logo">Github Repos</a>
				</div>
				<div class="nav-part nav-search col l10 m10 s8" style="padding: 0;">
					<form class="nav-search-bar">
						<div class="input-field">
							<input id="search" type="search" required 
								ng-model="searchKeyword" 
								ng-keyup="changeSearch()"
								ng-enter="searchGithub()"
							>
							<label for="search"><i class="mdi-action-search"></i></label>
						</div>
					</form>
				</div>
<!-- 				<div class="nav-part nav-categ col m4 s12">
					<span class="in">in</span>
					<a class="categ-button waves-effect waves-light" 
						ng-repeat="category in categories" 
						ng-class="category.selected ? 'btn' : 'btn transparent'"
						ng-click="categorySelect(category.selected, $index)">
						{{category.name}}
						</a>
				</div> -->
			</div>
		</div>
	</nav>
	<div class="container">
		<div ng-if="rate_limit">
			<div ng-if="!hasResults">

			</div>
			<div ng-if="hasResults">
				<div id="searchingInSection">
					<span class="searchinInText center-align">Searching in</span>
					<div class="categ-option" ng-repeat="category in categories">
						<input type="checkbox" class="filled-in" id="checkbox_{{category.name}}"
							ng-checked="category.selected ? 'checked' : ''"
							ng-click="changeCategory(category.selected, $index)"
						 />
						<label class="categ-label" for="checkbox_{{category.name}}">{{category.name}}</label>
					</div>
				</div>
				<div id="resultsSection">
					<ul id="resultsList" class="collapsible" data-collapsible="accordion">
						<li class="result" ng-repeat="result in results">
							<div class="collapsible-header"><i class="mdi-image-filter-drama"></i>{{result.full_name}}</div>
							<div class="collapsible-body">{{result.git_url}}</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-if="!rate_limit">
			<blockquote>Rate limit reached, please refresh and try again in 60 seconds...</blockquote>
		</div>
	</div>
</body>
</html>
